@import "tailwindcss";

@theme {
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-500: #cf4128;
  --color-primary-600: #cf4128;
  --color-primary-700: #b83622;

  --color-secondary-50: #f0fdf4;
  --color-secondary-100: #dcfce7;
  --color-secondary-600: #16a34a;

  --color-background: #ffffff;
  --color-background-gradient-from: #fef2f2;
  --color-background-gradient-to: #fee2e2;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
}
